# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform

.tfvars
!*.tpl

# Ignore output logs
output.txt

# Ignore secret files
.secrets
.secret
*.secret

# Exclude specific Terraform configuration
terraform/provider.tf

# Ignore log files
.logs